﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
  @*  @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   @*  <script src="~/Scripts/jquery-ui.min.js"></script>
        <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" /> *@
    </head>
    <body>
       
        <div style="" class="body-content">
            @RenderBody()
    
            @*<footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
    </div>

  
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
