﻿@model Titles.Models.TitleModel

<link href="~/Contents/Style.css" rel="stylesheet" />
<div>
    
    <table id="filterDataTable">
        <thead ><tr ><th style="text-align: left;">Title Name</th><th style="text-align: left;">Details</th></tr></thead>
        <tbody>
            @{
                for (var i = 0; i < Model.Titles.Count; i++)
                {
                    <tr>                      
                        <td>@Model.Titles[i].TitleName</td>
                        <td style="text-align:center"><a value="@Model.Titles[i].TitleId" class="detailsLink" title="Click to get the Title details" style="cursor:pointer;"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
