﻿@model Titles.Common.Title
@{
    ViewBag.Title = "Search Titles";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="~/Contents/Style.css" rel="stylesheet" />
<script src="~/Scripts/SearchTitles.js"></script>




<div class="containerMain">
    <h3 style="text-align:center;margin:0px;">TITLE INFORMATION</h3>
    <div class="inputContainer">
       
        <span>
            @Html.TextBoxFor(model => model.TitleName) <span class="glyphicon glyphicon-search"></span>
</span>
    </div>

    <div class="pageMainContianer" style="">

        <div id="filteredData" style="">
         
            <div id="filteredDataContiner" style=" ">
                @*Dynamic content*@
            </div>
        </div>

        <div id="detailsField" style="">
            @*<h3 id="DetailsHeader">Title Details</h3>*@
            <div id="detailsMain">
                <div id="detailsContainer" style=" ">
                    @*Dynamic content*@
                </div>
            </div>
        </div>

    </div>

</div>

