﻿@model Titles.Common.TitlesDetailResult
@using Titles.Common;
@{
    ViewBag.Title = "Title Details";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="~/Contents/Style.css" rel="stylesheet" />
<script src="~/Scripts/TitleDetails.js"></script>


<div id="accordion">
    @{if (Model.AwardSet != null)
    {
        if (Model.AwardSet.Count != 0)
        {


            <h2><span></span>Awards</h2>
            <div>
                <br />
                <table id="tblAwards" >
                    <tr><td><b>Nominated Category</b></td><td><b>Award</b></td><td><b>Won</b></td></tr>
                    @{
            string won = "";
            foreach (Award i in Model.AwardSet)
            {
                <tr>
                    <td>@i.Award1</td>
                    <td>@i.AwardCompany</td>
                    @{ if (i.AwardWon == true)
                     {
                         won = "Yes";


                     }
                     else
                     {
                         won = "No";
                     }
                    }
                    <td align="right">@won</td>
                </tr>
            }


                    }
                </table>
            </div>




        }
    }}
    @{if (Model.ParticipantSet != null)
    {
        if (Model.ParticipantSet.Count != 0)
        {

            <h2><span></span>Key Participants</h2>
            <div>
                <br />
                @{foreach (ParticipantDetails i in Model.ParticipantSet)
                {
                    @(i.Name + ", " + i.Role)
                    <br />
                }


                }
            </div>
        }
    }}
    @{if (Model.GenreSet != null)
    {
        if (Model.GenreSet.Count != 0)
        {


            <h2><span></span>Genre</h2>
            <div>
                <br />
                <ul>
                    @{foreach (string i in Model.GenreSet)
                    {
                      <li>  @i</li>
                        
                    }


                    }
                </ul>
            </div>
        }
    }}
    @{if (Model.OtherNameSet != null)
    {
        if (Model.OtherNameSet.Count != 0)
        {

            <h2><span></span>Alternate names (Also Known By)</h2>
            <div>
                <br />
                @{foreach (OtherName i in Model.OtherNameSet)
                {
                    <b> @(i.TitleNameLanguage + ": ") </b> @(i.TitleName) <br>
                }


                }
            </div>
        }

    }
    }

    @{if (Model.StoryLineSet != null)
    {
        if (Model.StoryLineSet.Count != 0)
        {

            <h2><span></span>StoryLines</h2>
            <div>
                <br />
                @{foreach (StoryLine i in Model.StoryLineSet)
                {
                    <b>@(i.Type)</b><br />
                    <p style="text-align:justify;"> @(i.Description) </p>
                }


                }
            </div>
        }

    }}



</div>
