﻿
.displayNone {
    display: none;
}

#accordion h2 {
    cursor: pointer;
    /* text-decoration: underline;*/
    color: black;
    font-family: Arial;
    font-size: medium;
    margin-bottom: 0;
    background-color: whitesmoke;
}

.detailContents {
    background-color: lightblue;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 15px;
}

#tblAwards {
    border-color: black;
}


.pageMainContianer {
    background-color: white;
    width: 98%;
    padding: 25px;
}

#filteredDataHeader, #DetailsHeader {
    text-align: left;
    height: 25px;
    background-color: none;
    color: blue;
    font-family: Arial;
    font-size: large;
}

#DetailsHeader {
    color: wheat;
}

#filteredData {
    float: left;
    width: 30%;
    margin: 5px;
    border-right: 1px solid black;
    height: 560px;
}

#detailsField {
    display: none;
    float: left;
    width: 68%;
    margin: 5px;
    background-color: black;
    color: white;
}

#detailsContainer {
    max-height: 500px;
    overflow-y: auto;
    padding: 15px;
    padding-top: 0px;
    background-color: black;
    color: black;
}

#filteredDataContiner {
    float: left;
    max-height: 560px;
    overflow: auto;
    padding: 15px;
    width: 92.5%;
    padding-top: 0px;
}

.inputContainer {
    margin: 15px;
    text-align:center;
}

    .inputContainer input {
        width: 25%;
        margin: 5px;
    }

.detailsLink {
    text-decoration: underline;
}

.h3 {
    text-align: center;
    margin: 0;
    color: wheat;
}

#accordion div {
    border: 1px solid black;
    background-color: #cccccc;
}


#filterDataTable {
    width: 100%;
}
